$white-color: #fff;
$primary-color: #3fd0d4;
$text-bold-color: #3b3b3b;
$black-color: #000;
$text-color: #505050;
$primary-color-bold:#3abdc1;
$footer-text: #888988;
::selection {
    background-color: $primary-color;
    color: $white-color;
}

@font-face {
    font-family: 'font-top-slider';
    src: url('/asset/fonts/DancingScript-VariableFont_wght.ttf');
}

%bg-img {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

%text-hover {
    color: $primary-color;
    cursor: pointer;
}

%hover {
    cursor: pointer;
    background-color: $primary-color;
    color: $white-color;
}

%text-underline {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: $primary-color;
    width: 0;
    height: 2px;
    border-radius: 3px;
    display: block;
    z-index: 1;
    transition: width .3s ease;
}

%text-heading {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
}

%text-heading-top {
    @extend %text-dancing;
    color: $primary-color;
    font-size: 4rem;
}

%text-heading-title {
    font-size: 6.5rem;
    color: $black-color;
    font-weight: 600;
}

%text-heading-desc {
    font-size: 1.7rem;
    line-height: 24px;
    text-align: center;
    width: 100%;
    padding: 35px 0;
    color: $text-color;
}

%text-dancing {
    font-family: 'font-top-slider' !important;
}

@keyframes toHeight {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 100%;
        opacity: 1;
    }
}

@keyframes changeBg {
    // 0% {
    //     background-image: url('/asset/img/package2.jpg');
    // }
    // 50% {
    //     background-image: url('/asset/img/package2.jpg');
    // }
    to {
        background-image: url('/asset/img/package3.jpg');
    }
}

@keyframes textSlider {
    from {
        opacity: 0;
        top: 70%;
    }
    to {
        opacity: 100%;
        top: 50%;
    }
}

html {
    /* khi muốn 16px thì = 1.6rem */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    // margin-left: -20px;
    // margin-right: -20px;
    .slider {
        position: relative;
        max-width: 100%;
        &-background {
            width: 100%;
            height: 70vh;
            overflow: hidden;
            &__img {
                width: 100%;
                height: 70vh;
                background-image: url('/asset/img/package3.jpg');
                @extend %bg-img;
                // transition: 5s;
                // transition: transform 10s;
                // transform: scale(1.1);
                //    animation
                // animation-name: changeBg;
                // animation-duration: 1s;
                // animation-direction: alternate;
                // animation-fill-mode: forwards;
                // animation-timing-function: linear;
                animation-iteration-count: infinite;
                // animation-play-state: running;
            }
        }
        &-text {
            max-width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white-color;
            animation: textSlider 1s;
            &__top {
                font-size: 5rem;
                text-align: center;
                margin-bottom: 25px;
                @extend %text-dancing;
            }
            &__title {
                font-weight: 600;
                text-align: center;
                margin-bottom: 25px;
            }
            &__desc {
                font-size: 1.6rem;
                text-align: center;
            }
        }
        &-control {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: $white-color;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &-left {
                left: 40px;
            }
            &-right {
                right: 40px;
            }
            .slider-control-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.8rem;
                color: $primary-color;
                font-weight: 600;
            }
            &:hover {
                @extend %hover;
                .slider-control-icon {
                    color: $white-color;
                }
            }
        }
    }
    .package {
        // width: 100%;
        margin-left: -20px;
        margin-right: -20px;
        &-list {
            position: relative;
            // display: flex;
            // flex-wrap: nowrap;
            overflow: hidden;
            .owl-theme .owl-dots .owl-dot span {
                background-color: #9fe7e9;
                width: 12px;
                height: 12px;
            }
            .owl-theme .owl-dots .owl-dot.active span,
            .owl-theme .owl-dots .owl-dot:hover span {
                background-color: $primary-color;
            }
        }
        &-item {
            margin-top: 20px;
            margin-bottom: 45px;
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            &__img {
                overflow: hidden;
                height: 180px;
                img {
                    width: 100%;
                    @extend %bg-img;
                    height: 180px;
                    transition: 0.5s ease-in-out;
                    transform: scale(1);
                    // animation: hoverScale ease-in-out 1s;
                    &:hover {
                        transform: scale(1.06);
                        cursor: pointer;
                    }
                }
                &-footer {
                    top: 0;
                    width: 100%;
                    height: 40px;
                    background-color: $primary-color;
                    display: flex;
                    align-items: center;
                    &-item {
                        font-size: 1.4rem;
                        color: $white-color;
                        margin-left: 26px;
                        &-icon {
                            margin-right: 4px;
                        }
                    }
                }
            }
            &__content {
                width: 100%;
                background-color: $white-color;
                padding: 29px 25px;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.65);
                &-title {
                    font-size: 2.2rem;
                    font-weight: 500;
                    margin-bottom: 12px;
                    &:hover {
                        @extend %text-hover;
                    }
                }
                &-desc {
                    font-size: 1.4rem;
                    line-height: 24px;
                    color: $text-color;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    margin-bottom: 12px;
                }
                &-footer {
                    font-size: 1.4rem;
                    font-weight: 600;
                    place-items: 6px;
                    display: flex;
                    li+li {
                        margin-left: 12px;
                    }
                }
            }
        }
        &-footer {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .clip {
        &-heading {
            @extend %text-heading;
            padding-top: 100px;
            margin: 0 auto;
            
            
            &__top {
                @extend %text-heading-top;
            }
            &__title {
                @extend %text-heading-title;
            }
        }
        &-img {
            max-width: 720px;
            margin: 0 auto;
            position: relative;
            &:hover {
                cursor: pointer;
                .clip-img-btn {
                    cursor: pointer;
                }
            }
            img {
                width: 100%;
            }
            &-btn {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: $primary-color;
                border: none;
                display: flex;
                margin: auto;               
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &-icon {
                    color: $white-color;
                    font-size: 1.8rem;
                }
            }
        }
        &-desc {
            font-size: 1.4rem;
            line-height: 24px;
            text-align: center;
            max-width: 720px;
            padding: 35px 0;
            color: $text-color;
            margin: 0 auto;
        }
        &-btn {
            width: 220px;
            height: 60px;
            background-color: $primary-color;
            border: none;
            color: $white-color;
            align-items: center;
            justify-content: center;
            display: flex;
            margin: 0 auto 130px;
            font-size: 1.6rem;
            &:hover {
                filter: brightness(.9);
                cursor: pointer;
            }
        }
    }
    .review {
        position: relative;
        // width: 100%;
        margin-left: -20px;
        margin-right: -20px;
        &-background {
            max-width: 100%;
            position: relative;
            &__img {
                width: 100%;
                height: 700px;
                @extend %bg-img;
            }
            .review-heading {
                max-width: 490px;
                color: $white-color;
                position: absolute;
                top: 120px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                &__title {
                    font-size: 6.5rem;
                    font-weight: 600;
                    margin-bottom: 8px;
                }
                &__desc {
                    font-size: 1.5rem;
                    line-height: 24px;
                }
            }
        }
        &-list {
            width: 100%;
            height: 256px;
            position: absolute;
            top: 278px;
            // overflow: hidden;
            .item {
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 30px;
            }
            .owl-theme .owl-dots .owl-dot span {
                background-color: #9fe7e9;
                width: 12px;
                height: 12px;
            }
            .owl-theme .owl-dots .owl-dot.active span,
            .owl-theme .owl-dots .owl-dot:hover span {
                background-color: $primary-color;
            }
            .owl-carousel .owl-item img {
                width: auto;
            }
        }
        &-item {
            width: 100%;
            background-color: $white-color;
            border-radius: 4px;
            padding-bottom: 40px;
            display: flex;
            &__ava {
                width: 110px;
                height: 110px;
                border-radius: 50%;
                margin-top: 40px;
                margin-left: 36px;
            }
            &__content {
                margin: 40px 36px 0 20px;
                &-title {
                    font-size: 2.2rem;
                    font-weight: 600;
                    margin-bottom: 12px;
                    &:hover {
                        @extend %text-hover;
                    }
                }
                &-rate {
                    margin-bottom: 20px;
                    display: flex;
                    &-item {
                        color: $primary-color;
                        font-size: 1.3rem;
                        +.review-item__content-rate-item {
                            margin-left: 4px;
                        }
                    }
                }
                &-desc {
                    font-size: 1.4rem;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
                &-author {
                    font-size: 1.4rem;
                    font-weight: 600;
                }
            }
        }
        &-footer {
            position: absolute;
            bottom: 110px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .contact {
        padding: 100px 130px 140px;
        position: relative;
        margin-left: -50px;
        margin-right: -50px;
        &-heading {
            max-width: 500px;
            @extend %text-heading;
            &__top {
                @extend %text-heading-top;
            }
            &__title {
                @extend %text-heading-title;
            }
            &__desc {
                @extend %text-heading-desc;
            }
        }
        &-list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        &-item {
            width: 100%;
            line-height: 24px;
            text-align: center;
            margin-bottom: 30px;
            &__img {
                margin-bottom: 30px;
                &:hover {
                    transition: transform .3s;
                    transform: translateY(-3px);
                }
            }
            &__title {
                font-size: 18px;
                font-weight: 600;
                color: $text-bold-color;
                margin-bottom: 10px;
            }
            &__desc {
                font-size: 1.4rem;
                color: $text-color;
            }
        }
    }
    .statistic {
        width: 100%;
        &-list {
            display: flex;
            overflow: hidden;
            // flex-wrap: nowrap;
        }
        &-item {
            width: 100%;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            &:hover .statistic-item__content {
                // display: block;
                height: 170px;
            }
            &__img {
                @extend %bg-img;
                width: 100%;
            }
            &__content {
                background-color: $primary-color;
                color: $white-color;
                width: 100%;
                height: 0;
                // display: none;
                text-align: center;
                transition: height 1s;
                // padding-bottom: 26px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                &-name {
                    padding: 22px 25px 0;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 24px;
                    margin-bottom: 11px;
                }
                &-desc {
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                }
                &-icon {
                    width: 100%;
                    display: flex;
                    font-size: 1.4rem;
                    line-height: 24px;
                    text-align: center;
                    justify-content: center;
                    margin-top: 14px;
                    &-item {
                        +.statistic-item__content-icon-item {
                            margin-left: 28px;
                        }
                        &:hover {
                            color: $primary-color-bold;
                        }
                    }
                }
            }
        }
        &-footer {
            position: relative;
            top: -1px;
            width: 100%;
            background-color: $primary-color-bold;
            padding: 70px 160px 0;
            color: $white-color;
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between;
            font-weight: 600;
            // align-items: center;
            &__item {
                padding-bottom: 70px;
                &-number {
                    font-size: 6.5rem;
                    margin-bottom: 14px;
                    text-align: center;
                }
                &-text {
                    font-size: 1.8rem;
                    text-align: center;
                }
            }
        }
    }
    .resort {
        // width: 100%;
        position: relative;
        margin-left: -20px;
        margin-right: -20px;
        padding: 120px 80px;
        &-heading {
            max-width: 500px;
            @extend %text-heading;
            &__top {
                @extend %text-heading-top;
            }
            &__title {
                @extend %text-heading-title;
            }
            &__desc {
                @extend %text-heading-desc;
            }
        }
        &-list {
            overflow: hidden;
        }
        &-item {
            width: 100%;
            padding: 0 5px 50px;
            position: relative;
            &__mark {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $primary-color;
                position: absolute;
                top: 15px;
                right: 43px;
                // transform: translateY(-50%);
                &-icon {
                    font-size: 1.4rem;
                    color: $white-color;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &__img {
                overflow: hidden;
                border-radius: 50%;
                filter: brightness(.8);
                &:hover img {
                    transform: scale(1.03);
                    cursor: pointer;
                }
            }
            img {
                transform: scale(1);
                transition: transform .3s ease-in-out;
                @extend %bg-img;
                border-radius: 50%;
                width: 100%;
            }
            &__name {
                font-size: 5rem;
                font-family: 'font-top-slider';
                color: $white-color;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -40%);
            }
        }
    }
}
.video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 5;
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .9);
        z-index: 2;
    }
    &__body {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
}

.video.open {
    display: block;
}